<div class="jumbotron">
  <div class="container">
    <h1>About Me</h1>
    <p>Steve is commonly known and respected by other characters for his kindness to others, his never-ending love and loyalty for those he holds dear, and, alongside with Harriette, his position as a voice of reason and source of wisdom for the often bickering members of the Winslow family, all of which are the redeeming qualities for his generally unwelcome or tolerated presence. He always cares for and means well for other people, but is often the misunderstood victim of the Winslows' anger and rejection, especially of Carl, Eddie and Laura, who all struggle to see through his clumsiness and annoying behavior and to understand and appreciate him for his positive traits.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</div>
