<div>
  <%= image_tag("SteveUrkel.jpg", class:'img-circle') %>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
  nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
  volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
  ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
  Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
  molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
  eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
  zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor
  cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
  placerat facer possim assum. Typi non habent claritatem insitam; est usus leg
  entis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores
  legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui
</p>

  My Projects: thisiswhyimbroke.com, associatedpress.com, instagram.com

  <div id="carousel-example-generic" class="carousel slide" class=data-interval="25">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("associatedpress.png") %>
        <div class="carousel-caption">

        </div>
      </div>
      <div class="item">
        <%= image_tag("instagram.png") %>
        <div class="carousel-caption">

        </div>
      </div>


    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
